// Place all the styles related to the Faces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-container { position: relative; }

.region {
  position: absolute;
  // border: 2px dotted rgba(3, 250, 166, 0.57);
  border: 1px solid rgba(47, 129, 255, 0.57);
  background-color: rgba(30, 164, 247, 0.32);
  box-shadow: 0 0 10px rgba(10, 246, 255, 0.61) inset;
}

img.face {
  min-width: 100px;
  height: auto;
}

.delete-button {
  right: -10px;
  top: -10px;
  position: absolute;
}

.region:hover {
  // background-color: rgba(6, 113, 255, 0.13);
}

.handle {
   position: absolute;
   height: 6px;
   width: 6px;
   border: 1px solid #89B;
   background: #9AC; 
 }

.drag {
   position: absolute;
   border: 1px solid #89B;
   background: #BCE;
   height: 58px;
   width: 58px;
   top: 120px;
   cursor: move;
 }


.NW, .NN, .NE {
   top: -4px;
   }
.NE, .EE, .SE {
   right: -4px;
   }
.SW, .SS, .SE {
   bottom: -4px;
   }
.NW, .WW, .SW {
   left: -4px;
   }
.SE, .NW {   
   cursor: nw-resize;
   }
.SW, .NE {
   cursor: ne-resize;
   }
.NN, .SS {
   cursor: n-resize;
   left: 50%;
   margin-left: -4px;
   }
.EE, .WW {
   cursor: e-resize;
   top: 50%;
   margin-top: -4px;
   }   
.selected {
   background-color: #ECB;
   border-color: #B98;
   }
.selected .handle {  
   background-color: #CA9;
   border-color: #B98;
   }   

